/* @media screen and (max-width: 982px) {
    .dashboard {
        width: 100%;
        top: -15vh;
        flex-direction: column;
        justify-content: flex-start;
    }
    .dashheader, .dashdisplay {
        padding: 10px 0;
    }
    .dashboard h2 {
        font-size: 1em;
    }
    .dashheader .btnTime {
        font-size: .8em;
    }
    .display span {
        font-size: 1em;
    }
} */

@media screen and (max-width: 1540px) {
    .dashboard {
        top: -120px;
    }
    .dashheader, .dashdisplay {
        padding: 10px 0;
    }
    .dashboard h2 {
        font-size: 1em;
    }
    .dashheader .btnTime {
        font-size: .8em;
    }
    .display span {
        font-size: 1em;
    }
}