@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

@media screen and (max-width: 1540px) {
    body {
        font-size: 20px;
    }

    .details img.profpic {
        width: 5em;
        height: 5em;
    }
}

@media print {
    body * {
        visibility: hidden;
        height: auto;
    }

    #scroll-style {
        width: 100%;
        height: auto;
        font-size: 20px;
        background-color: white;
    }

    .print-area * {
        visibility: visible;
        height: auto;
        color: #0b0c0d;
        margin: 0;
        padding: 0;
    }

    .print-area svg path {
        fill: #0b0c0d;
    }

    .print-area hr {
        color: #0b0c0d;
    }

    .print-area article, .print-area .tbl-container {
        width: 80%;
    }

    .print-area .tbl-container {
        height: 80%;
        min-height: 80%;
    }

    .print-area .tbl-container table {
        page-break-inside: auto;
    }

    table tbody tr {
        border-bottom: none;
        line-height: 2;
        break-inside: avoid;
        break-after: auto;
    }

    .print-area article:last-of-type {
        position: absolute;
        bottom: 15%;
        width: 90%;
    }

    .print-area footer {
        position: absolute;
        bottom: 0;
    }

    @page {
        size:8.5in 11in; 
        margin: 3cm 1cm;
    }

    @page :first {
        margin: 0cm 1cm 1cm 1cm;
    }
}