@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bodybg : #161E31;
    --navtext : white;
    --navlink : #ffffff;
    --formtext : #fff;
    --forminputtext : white;
    --formicons : #8b91b3;
    --formicontext : #161E31;
    --formlabel : #fff;
    --formNlabel : #fff;
    --formlink : #dd4848;

    --formbtntext : #161E31;
    --formbtnbg : rgb(210, 209, 209);
    --formbg : white;
    --formborder : rgb(255, 255, 255, .5);
    --forminputborder : #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: url('/res/loginbg.jpg') no-repeat; */
    background-color: var(--bodybg);
    background-size: cover;
    background-position: center;
}
header {
    font-family: Visby;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
#particles-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* -------------------- FLASH ELEMENTS --------------------  */

.session {
    position: fixed;
    right: 15px;
    bottom: 15px;
    padding: 10px;
    background-color: var(--navtext);
    border-radius: 10px;
}

/* -------------------- DASHBOARD ELEMENTS --------------------  */

.form-box.timecard {
    padding: 20px;
}

.form-box.timecard .btnTime{
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background: transparent;
}
.form-box.timecard .btnTime:hover {
    background: var(--formbtntext);
    color: var(--formbtnbg);
}

/* -------------------- LOGIN ELEMENTS --------------------  */

.wrapper {
    display: flex;
    /* position: absolute; */
    width: 1028px; /* 335px */
    height: 700px; /* 440px */
    /* left: 100px; */
    justify-content: center;
    align-items: center;
    /* background: var(--formbg); */
    /* background: transparent; */
    /* border: 2px solid var(--formborder); */
    border-radius: 20px;
    /* backdrop-filter: blur(200px); */
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;

    /* box-shadow: 1px 1px 20px var(--bodybg); */
    box-shadow: 10px -10px 4px black;
    /* margin-left: 350px; */
    background: #2D3250;
    /* border: transparent; */
}
.wrapper.active-popup {
    transform: scale(1);
}
.wrapper.active {
    height: 600px;
}
.wrapper .form-box {
    width: 40%;
    position: relative;
    left: -26%;

    /* padding: 40px; */

    /* padding-left: 70px; */
}
.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login {
    transition: none;
    /* transform: translateX(-400px); */
    transform: translateX(-490px);
}
.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(490px);

    margin-left: 320px;
}
.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper .icon-close {
    position: relative;
    top: -46.8%;
    right: -17.9%;
    width: 45px;
    height: 45px;
    background: var(--formicons);
    font-size: 2em;
    color: var(--formicontext);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-box h2 {
    /* font-family: Visby; */
    font-size: 2em;
    color: var(--formtext);
    /* text-align: center; */

    font-family: Railway, sans-serif;
    font-weight: 700;
    text-align: left;
}
.form-box p { /* edited */
    margin-top:10px;
    font-family: Railway,sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--formtext);
    text-align: left;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--forminputborder);
    margin: 30px 0; 

    /* height: 60px; */
    /* margin: 7px 0; */
    /* background: #424769; */
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: var(--formlabel);
    /* font-family: Poppins; */
    font-weight: 500;
    pointer-events: none;
    transition: .5s;

    font-size: 15px;
    /* color: #5E6590; */
    font-family: Railway, sans-serif;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label,
.input-box input[type=email]:not(:placeholder-shown) ~ label {
    top: -5px;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--forminputtext);
    font-weight: 100;
    padding: 0 35px 0 5px;
}
.input-box 
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: var(--formicons);
    line-height: 57px;
}
.btn {
    /* width: 100%;
    height: 45px;
    background: var(--formbtnbg); */
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: var(--formbtntext);
    font-weight: 800;
    font-family: Poppins;
    transition: .5s ease;

    width: 30%;
    height: 50px;
    margin-top:25px;
    background: #F9B17A;
    /* color: #161E31; */
}
.btn:hover {
    /* background: var(--formbtntext);
    color: var(--formbtnbg); */
    transition: .5s ease;

    background: white;
    color: var(--formbtntext);
}
.login-register {
    font-size: .9em;
    color: var(--formNlabel);
    /* text-align: center; */
    font-weight: 500;
    /* margin: 25px 0 10px; */

    font-family:Railway, sans-serif;
}
.login-register p a {
    color: var(--formlink);
    text-decoration: none;
    font-weight: 600;
    font-family: Poppins;

    font-size: 15px;
}
.login-register p a:hover {
    text-decoration: underline;
}

/* -------------------- NAVIGATION ELEMENTS --------------------  */

.logo {
    background-image: url(/public/res/puncher.png) ;
    font-size: 2em;
    color: aliceblue;
    user-select: none;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: var(--navlink);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    /* background: white; */
    background: var(--navlink);
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}
.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}
.navigation .btnLogin {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    /* font-family: Visby; */
    color: white;
    margin-left: 40px;
    transition: .5s;

    font-family: Railway, sans-serif;
}
.navigation .btnLogin:hover {
    background: white;
    /* color: darkslategray; */
    color: var(--formbtntext);
}

/* -------------------- FONT ELEMENTS --------------------  */

@font-face {
    font-family: "Blacksword";
    src: url("/res/Blacksword.otf");
}
@font-face {
    font-family: "Visby";
    src: url("/res/VisbyRegular.woff");
}

.email{
    padding-left: 13px;
}

.password{
    padding-left: 13px;
}

.mou{
    /* margin-left:500px; */
    /* float:right; */
    position: absolute;
    right: 0;
    width: 50%; 
    height: 100%;
}

.logo1{
    /* background: url("res/puncher.png"); */
    width:200px;
    /* position:absolute; */
}

/* 
* rename mou class . create a section for the login register 
*/