:root {
    --bodybg : #f1f0ec;
    --genbg : #0b0c0d;
    --gentext : #f1f0ec;
    --tbheader : #282828;
    --rowhover : #303030;
    --btmborder : #282828;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Visby;
    color: var(--gentext);
}


body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    /* align-items: center; */
    /* background: black; */
    /* background: var(--bodybg); */
    background: var(--genbg);
}

body section, body main {
    /* height: 85%; */
    padding: 0 20px;
    margin: 3% 2%;
    /* background: var(--bodybg); */
    border: 2px solid var(--bodybg);
    border-radius: 8px;
}

section {
    height: 50%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background: var(--genbg); */
    /* background: white; */
}

main {
    height: 85%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background: red; */

    /* background: aliceblue; */
}

.session {
    position: fixed;
    right: 15px;
    bottom: 15px;
    padding: 10px;
    background-color: var(--navtext);
    border-radius: 10px;
}

.profile .details {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.details img.profpic {
    width: 150px;
    height: 150px;
    margin: 5% 0;
}

.details span {
    width: 100%;
    text-align: center;
}

.details span#name {
    font-size: 1em;
}

.details span#email {
    font-size: .7em;
}

.profile .today {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.profile .today span {
    font-size: .6em;
    margin: 2% 0;
}

.profile .btns {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.profile .btns form {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns form button {
    width: 70%;
    height: 100%;
    background: transparent;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: .8em;
    transition: .5s;
}

.btns .btnTime {
    border: 2px solid var(--gentext);
}

.btns .btnTime:hover {
    background: darkgreen;
}

.btns .btnLogout button {
    background: rgb(165 4 4);
    color: var(--gentext);
    border: 2px solid transparent;
}

.btns .btnLogout button:hover {
    /* color: var(--bodybg); */
    background: var(--genbg);
    border: 2px solid var(--gentext);
}

main span {
    margin: 1%;
}

main .tbl-container {
    height: 80%;
    margin-bottom: 3%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    
    margin: 0 auto;
    position: relative;
}

table * {
    position: relative;
    text-align: left;
}

table thead tr {
    height: 5vh;
    background: var(--tbheader);
}

table tbody tr {
    height: 4.5vh;
    border-bottom: 1px solid var(--btmborder);
}

tbody tr {
    font-size: .6em;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:hover {
    background: var(--rowhover);
    cursor: pointer;
    font-weight: 600;
}

th {
    width: 25%;
    font-size: .9em;
}

th:first-of-type, td:first-of-type {
    padding-left: 2%;
}

.table100-head th {
    font-family: Visby;
    font-size: 18px;
    line-height: 1.2;
    font-weight: unset;
}

@font-face {
    font-family: "Visby";
    src: url("../res/VisbyRegular.woff");
}