@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --bodybg : #f1f0ec;
    --genbg : #0b0c0d;
    --gentext : #f1f0ec;
    --gengray : #303030;
    --darkhover : #0b0c0d;
    --lhoverbg : #f1f0ec;
    --tbheader : #282828;
    --rowhover : #404040;
    --btmborder : #282828;

    --iconbg : #303030;
    --iconcolor : #f1f0ec;
    --pencilbg : #0066ff;
    --pencilcolor : #0b0c0d;
    --sessionbg : #303030;

    --genradius : 8px;
    --circlerad : 50%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--gentext);
}


body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    background: var(--genbg);
}

body section, body main {
    padding: 0 20px;
    margin: 3% 2%;
    border: 2px solid var(--bodybg);
    border-radius: var(--genradius);
}

aside {
    width: 30%;
    height: 60%;
    
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .5);
    border-radius: var(--genradius);
    box-shadow: 0 0 30px rgba(80, 80, 80, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    overflow: hidden;
}

section {
    height: 60%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main {
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.session {
    position: fixed;
    right: 15px;
    bottom: 15px;
    padding: 10px;
    font-size: .7em;
    background-color: var(--sessionbg);
    border-radius: var(--genradius);
}

div.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;

    scale: 0;
    transition: scale .5s ease, opacity .5s;
}

.bg-print {
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;

    scale: 0;
    opacity: 0;
    transition: scale .5s ease, opacity .5s;
}

div.bg.active-popup, div.bg-print.active-popup {
    scale: 1;
    opacity: 1;
}

aside::before {
    content: "";
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    backdrop-filter: blur(20px);
    z-index: -1;
}

.aside-edit .icon-close {
    position: absolute;
    right: 0;
    background: var(--iconbg);
    font-size: 1.5em;
    color: var(--iconcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.img-container {
    width: 50%;
    height: 35%;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-container img {
    position: relative;
    max-width: 70%;
    max-height: 100%;
    margin: auto;
}

.img-container figcaption {
    text-align: center;
    font-size: .8em;
}

.aside-edit form {
    height: 60%;
    width: 75%;
    font-size: .8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside-edit form .img-box {
    width: 70%;
    height: 10.5%;
    margin: 5% 0;
}

.aside-edit form .img-box input[type=file] {
    display: none;
}

.aside-edit form .input-box {
    width: 90%;
    height: 15%;
    border-bottom: 2px solid white;
    margin: 4% 0;
    position: relative;
}

.aside-edit form .img-box label {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    background: var(--rowhover);
    border-radius: var(--genradius);
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: .9em;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:not(:placeholder-shown) ~ label {
    top: -15%;
}

.input-box input {
    width: 100%;
    height: 100%;
    font-size: .8em;
    letter-spacing: 2px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 5% 0 1%;
}

.input-box 
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

.input-box .icon {
    position: absolute;
    right: 0;
    line-height: 3em;
}

.aside-edit form button {
    width: 70%;
    height: 10.5%;
    background: var(--rowhover);
    border-radius: var(--genradius);
    font-size: 1em;
    margin-top: 8%;
}

.profile .details {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.details div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.details button {
    width: 1.3em;
    height: 1.3em;
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--pencilbg);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: var(--genradius);
    transition: .5s ease;
    transform: translate(-50%, -20%);
}

.details button:hover {
    border-radius: var(--circlerad);
    background: var(--lhoverbg);
    transition: .5s ease;
}

.details button i {
    font-size: .8em;
}

.details button i:hover {
    color: var(--darkhover);
}

.details img.profpic {
    width: 6em;
    height: 6em;
    border: 2px solid white;
    border-radius: var(--circlerad);
}

.details span {
    width: 100%;
    text-align: center;
    font-size: .6em;
}

.details span:first-of-type {
    font-size: 1em;
}

.profile .today, .profile .btns {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile .today span {
    font-size: .6em;
    margin: 2% 0;
    padding-left: 13%;
}

.profile .btns form {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5% 0;
}

.btns form button {
    width: 70%;
    height: 100%;
    background: transparent;
    outline: none;
    border-radius: var(--genradius);
    cursor: pointer;
    font-size: .8em;
    transition: .5s;
}

.btns .btnTime {
    border: 2px solid var(--gentext);
}

.btns .btnTime:hover {
    background: darkgreen;
}

.btns .btnLogout button {
    background: rgb(165 4 4);
    color: var(--gentext);
    border: 2px solid transparent;
}

.btns .btnLogout button:hover {
    background: var(--genbg);
    border: 2px solid var(--gentext);
}

main span {
    margin: 1%;
}

main .tbl-container {
    height: 80%;
    margin-bottom: 3%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    
    margin: 0 auto;
    position: relative;
}

table * {
    position: relative;
    text-align: left;
}

table thead tr {
    height: 5vh;
    background: var(--tbheader);
}

table tbody tr {
    height: 4.5vh;
    border-bottom: 1px solid var(--btmborder);
}

tbody tr {
    font-size: .6em;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:hover {
    background: var(--rowhover);
    cursor: pointer;
}

th {
    width: 25%;
    font-size: .9em;
}

th:first-of-type, td:first-of-type {
    padding-left: 2%;
}

.table100-head th {
    font-family: Visby;
    font-size: 18px;
    line-height: 1.2;
    font-weight: unset;
}

.printbtn  {
    position: absolute;
    bottom: 0;
}

.printbtn * {
    color: var(--iconbg);
}

.bg-print .btnlist {
    background: var(--gengray);
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 0;
    transform: translate(-7vw, 20%);
    padding: 0.5%;
    border-radius: var(--genradius);
    align-items: center;
}

.bg-print .btnlist .list-item {
    display: flex;
    align-items: center;
}

.bg-print .btnlist * {
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.bg-print .btnlist input[type=date] {
    position: absolute;
    right: 0;
    border-radius: var(--genradius);
    font-size: .7em;
    padding-right: 25%;
    line-height: 1.5em;
    color-scheme: dark;
    translate: -30% 12%;
    opacity: 0;

    transition: opacity .5s ease;
}

.bg-print .btnlist input[type=date].active {
    opacity: 1;
} 

.bg-print ul li .tooltip {
    width: 5em;

    background: var(--gengray);
    border-radius: var(--genradius);
    text-align: center;
    pointer-events: none;
    translate: 15% 50%;
    position: absolute;
    right: 0;
    font-size: 0.7em;
    opacity: 0;
}

.bg-print ul li:hover .tooltip {
    translate: 100%;
    transition: .5s ease;
    opacity: 1;
}

.bg-print .print-area {
    width: 80%;
    height: 90%;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    margin: 1% auto;
    background: var(--gengray);
    overflow-y: auto;
    overflow-y: scroll;
}

.print-area article:first-of-type {
    display: grid;
    grid-auto-rows: 20%;
    grid-template-columns: 15% auto;
}

.print-area article:first-of-type svg {
    height: 6em;
    width: 6em;
    grid-row: span 5;
}

.print-area article:first-of-type span:first-of-type {
    font-size: 2em;
    grid-row: span 2;
}

.print-area article:first-of-type hr {
    width: 100%;
    align-self: end;
    border-top: 1.5px solid;
    border-radius: 4px;
}

.print-area article {
    width: 55%;
    align-self: center;
    margin: 3% 0;
    font-size: .65em;
    display: grid;
}

.print-area article * {
    margin: .5% 0;
}

.print-area .tbl-container {
    width: 55%;
    margin: 1% 0;
}

.print-area thead tr {
    background: transparent;
}

.print-area th {
    font-size: .7em;
}

.print-area #totalhours {
    height: 4.5vh;
    width: 50%;
    font-size: 0.6em;
    padding: 2%;
    margin: 5% 0;
    display: inherit;
}

.print-area article:last-of-type {
    grid-template-columns: 50% 50%;
    grid-auto-rows: 70%;
    row-gap: 100%;
    align-items: end;
}

.print-area article:last-of-type span {
    width: 100%;
    display: flex;
    justify-content: center;
}

.print-area article:last-of-type strong {
    width: 65%;
    border-top: 1.5px solid;
    text-align: center;
    display: block;
}

.print-area footer {
    margin: 5% 0;
}

.print-area footer svg {
    width: 8em;
}

#scroll-style::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

#scroll-style::-webkit-scrollbar {
	width: 12px;
	background-color: transparent;
}

#scroll-style::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--darkhover);
}

@font-face {
    font-family: "Visby";
    src: url("../res/VisbyRegular.woff");
}